<form method="post">
    <label for="user_name">User Name</label>
    <input type="text" name="user[name]" id="user_name">
    <label for="user_password">Password</label>
    <input type="text" name="user[password]" id="user_password">
    <input type="submit" name="Log in">
</form>